<div class="container_big-card">

  <div class="big-card_photo">
    <img
      src="https://s2.glbimg.com/CgM8-6p6wT8oNBzHC0qHbC01HLQ=/e.glbimg.com/og/ed/f/original/2020/02/03/andromeda-11004_1920.jpg"
      alt=""
      height="250px"
      width="380px"
      srcset=""
    >
  </div>


  <div class="big-card_title">
    <h1><a href="#">Um novo modo de ver o mundo!</a></h1>
  </div>

  <div class="big-card_description">
    <p>
      <a href="#">
      As definições do universo foram redefinidas, a partir do momento que todos
      mudaram a sua visão sobre o que há fora do planeta terra...
      </a>
    </p>
  </div>

</div>
